@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  /* font-family: 'Monaco', monospace; */
  font-family: 'Readex Pro';
  /* padding: 20px 300px; */
  width: 60%;
  margin: auto;
}

p, li {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 170%;
}

code {
  display: block;
  padding: 10px;
  background-color: #2b2b2b;
  color: #d4d4d4;
  border-radius: 5px;
  overflow-x: auto;
  margin-bottom: 20px;
  line-height: 150%;
}

a {
  text-decoration: none;
}

h2 {
  color: #d4d4d4;
  margin: 45px;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  body {
    width: 70%;
  }
} 

@media screen and (max-width: 900px) {
  body {
    width: 80%;
  }
}  

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
  }

  p, li {
    margin-bottom: 25px;
    font-size: 15px;
    /* line-height: 130%; */
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 93%;
  }
}